.profileWrapper {
  padding-top: 16px;
  text-align: center;
}

.profileWrapper .profileImage {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.profileWrapper .profileImage img {
  display: block;
  width: 100%;
}

.profileWrapper .profileName {
  margin-top: 10px;
  font-size: 1.1em;
}

.profileWrapper .profileId {
  margin-top: 5px;
  color: #999;
  font-size: 0.8em;
  font-weight: bold;
}
