.header {
    height: 55px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(69, 69, 221);
}

.title {
    display: flex;
    float: left;
    margin: 10px;
    color: white;
}

.search {
    font-size: 17px;
    height: 40px;
    width: 40%;
    margin: 5px;
}